[Unit]
Description=QZSS 状態報告(温度・稼働時間・リモートコマンド受信)

[Service]
Type=oneshot
User=%i
# 警報描画(qzss-map/qzss-kiosk)や受信処理(qzss-decoder)より優先度を
# 下げ、CPU競合時は必ずこちらが譲る
Nice=10
WorkingDirectory=/home/%i/qzss/qzss-pi-package
ExecStart=/home/%i/qzss/qzss-pi-package/report_status.sh
