[Unit]
Description=QZSS 緊急更新チェック(軽量・高頻度)

[Service]
Type=oneshot
User=%i
WorkingDirectory=/home/%i/qzss/qzss-pi-package
ExecStart=/home/%i/qzss/qzss-pi-package/check_urgent.sh
