[Unit]
Description=QZSS キオスク画面のレンダラークラッシュ監視(軽量・高頻度)

[Service]
Type=oneshot
User=%i
WorkingDirectory=/home/%i/qzss/qzss-pi-package
ExecStart=/home/%i/qzss/qzss-pi-package/kiosk_watchdog.sh
